
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
}

.container {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    /* outline: solid 2px red; */

}

.grid-item {
    flex: 0 0 6.25%;
    height: 6.25%;
    outline: solid 2px blue;
    

}

.entered-div {
    background-color: purple;
}