
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    gap: 20px;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    outline: solid 2px red;

}

.grid-item {
    outline: solid 2px blue;
    
}

.entered-div {
    background-color: purple;
}